.movie-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    /* text-align: center;
    justify-content: center; */
}

.movie-info h1{
    margin: 14px 0;
}

.movie-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
}

.movie-info h3{
    margin-top: 14px;
}

.movie-info span{
    margin: 8px 0;
}

.buttons-area button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.buttons-area a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.buttons-area button:hover{
    background-color: brown;
    color: #fff;
}

.buttons-area a:hover{
    color: #fff;
}